[flake8]
# E402: 模块级别导入不在文件顶部。由于演示项目需要动态将项目根目录添加到 sys.path，因此忽略此规则。
# W503: 在二元运算符之前换行。现代 PEP8 推荐在二元运算符之前换行（W503），而不是在其之后（W504），因此忽略 W503。
ignore = E402, W503

# 限制单行长度上限为 100 字符，比默认的 79 字符更符合现代大屏开发习惯，同时也足够紧凑
max-line-length = 100

# 排除不需要检查的文件夹
exclude =
    .venv,
    venv,
    env,
    .git,
    __pycache__,
    .conda,
    build,
    dist